
#plot-container {
    align-self: stretch;
}

#main-div-plotter {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: calc(100% - 40px);
}

#titlesChecklist {
    list-style-type: none;
    padding-left: 0;
}

#checklist-container {
    width: fit-content;
}