{% extends 'base.html' %}

{% block content %}

<div id="main-div-selector" class="main-div">

    <div class="container" id="selector-container">

        <div class="container-header">
            Choose cinema and date
        </div>

        <div class="container-body">

            <select id="cinema-selector">
                {% for group, inner_dict in cinemas.items() %}
                <option value="{{ group }}">{{ inner_dict['display'] }}</option>
                {% endfor %}
            </select>

            <form id="dateinput1" class="dateinput1">
                <input type="date" id="date" name="date">
            </form>

            <button onclick="goToNewAddress()">Go</button>

        </div>

    </div>

</div>

<script>
    function goToNewAddress() {
        let dropdown1 = document.getElementById("cinema-selector").value;
        let dateInput = document.getElementById("date");
        let selectedDate = dateInput.value;

        let newAddress = "{{ url_for('jason') }}";
        newAddress = newAddress + "?date=" + selectedDate + "&cinema=" + dropdown1;

        window.location.href = newAddress;
    }
</script>

<script>
    let today = new Date();

    let yyyy = today.getFullYear();
    let mm = String(today.getMonth() + 1).padStart(2, '0');
    let dd = String(today.getDate()).padStart(2, '0');
    let todayFormatted = yyyy + '-' + mm + '-' + dd;

    // Set the default value of the date input field to today's date
    document.getElementById('date').value = todayFormatted;
</script>

<script>
    // Change background based on selected cinema
    const cinemas = JSON.parse('{{ cinemas|tojson }}');

    const select = document.getElementById('dropdown1');
    const body = document.getElementById('ccg_body');

    select.addEventListener('change', function () {
        const selectedOption = select.options[select.selectedIndex];
        const imgUrl = cinemas[selectedOption.value]['imageUrl'];

        body.style.backgroundImage = `url(${imgUrl})`;
    });
</script>


{% endblock %}

