{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1>Choose cinema</h1>

    <select id="dropdown1" class="dropdown1">
        <option value="kinepolis">Kinepolis</option>
        <option value="plaza">Plaza</option>
        <option value="wroclavia">Wroclavia</option>
        <option value="korona">Korona</option>
        <option value="mokotow">Mokotów</option>
    </select>

    <h1>Choose date</h1>

    <form>
        <input type="date" id="date" name="date">
    </form>

    <button onclick="goToNewAddress()">Go</button>

</div>

<script>
    function goToNewAddress() {
        var dropdown1 = document.getElementById("dropdown1").value;
        var dateInput = document.getElementById("date");
        var selectedDate = dateInput.value;

        var newAddress = "{{ url_for('jason') }}";
        newAddress = newAddress + "?date=" + selectedDate + "&cinema=" + dropdown1;

        window.location.href = newAddress;
    }
</script>

<script>
    // Get today's date
    var today = new Date();

    // Format the date as yyyy-mm-dd
    var yyyy = today.getFullYear();
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var dd = String(today.getDate()).padStart(2, '0');
    var todayFormatted = yyyy + '-' + mm + '-' + dd;

    // Set the default value of the date input field to today's date
    document.getElementById('date').value = todayFormatted;
</script>

{% endblock %}

